.card__like-button {
  width: 21px;
  height: 18px;
  background-image: url("https://code.s3.yandex.net/web-code/dom/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("https://code.s3.yandex.net/web-code/dom/heart-filled.svg");
}